<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/resume.css" rel="stylesheet" />

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<title>resume</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
		integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/static/js/download.js"></script>
		

</head>

<body>
	<br>
    
	<div class="container text-sm-center" >
		<button class="btn btn-primary" onclick="generatePDF()">Download</button>
	</div>
	<div id="resume">

		<div class="top-section container-fluid" style="width: 100%;">
			<p class="p1">{{ data.name }}</p>
			<p class="p2">{{ profile.currentPosition }}  | {{ profile.location }} </p>
		</div>
		<div class="container">
			<div class="row">

				<div class="content-box col-sm-3" style="padding-left: 40px;">


					<p class="head">Contact</p>
					<p><i class="fa fa-phone" aria-hidden="true">{{ data.number }}</i> &nbsp;&nbsp;</p>
					<p><i class="fa fa-envelope" aria-hidden="true">{{ data.email }}</i> &nbsp;&nbsp;</p>
					<p><i class="fa fa-home" aria-hidden="true"><a href="{{ profile.profileLink }}" target="_blank">{{ profile.profileTitle }}</a></i> &nbsp;&nbsp;</p>


					{% if skill %}
					<br />
					<p class="head">My Skills</p>
					<ul class="skills">
						{% for i in skill %}
						<li><b>{{i.skill}}</b>   (<i>{{i.rating}}</i>/10)</li>
						{% endfor %}
					</ul>
					{% endif %}


					<br />
					{% if profile.languages %}
					<p class="head">Languages</p>
					{% for i in profile.languages.split(",")%}
					<li>{{i}}</li>
					{%endfor%}
					{%endif%}
				</div>

				<div class="col-sm-9">
					<div class="content-box">
						{% if profile.summary %}
						<span class="head">Profile </span>
							<div style="white-space: pre-line">
								{{profile.summary}}
							</div>
							<br>
						{% endif %}
						
						{% if edu %}
						<div>
							<p class="head">Education</p>
							{% for i in edu %}
							<li>
								<span><b>{{ i.course }}</b></span>
								<span style="float: right;">Duration : {{i.duration}}</span>
								<br>
								<span>Institute : <strong>{{i.insitute}}</strong></span>
								<span style="float: right;">Grades : {{i.grades}}</span>
							</li>
							{%endfor%}
						</div>
						{% endif %}

						{% if exp %}
						<br>
						<p class="head">EXPERIENCE</p>
						{% for i in exp %}
							<li>
							<span><b>{{ i.title }}</b></span>
							<span style="float: right;"><strong> {{i.organisation}} </strong></span>
							<br>
							<span>Duration : <i>{{i.duration}}</i></span>
							<span style="white-space: pre-line">
								{{i.discription}}
							</span>
							</li>
							<br />
						{% endfor %}
						{% endif %}

					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		function generatePDF() {
			const pdf = document.getElementById('resume');
			html2pdf()
				.from(pdf)
				.save();
		}
	</script>
</body>

</html>