<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/resume.css" rel="stylesheet" />

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<title>resume</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
		integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/static/download.js"></script>
		

</head>

<body>
	{% include "nav.html" %}
	<br>

	<div class="container text-sm-center" >
		<button class="btn btn-primary" onclick="generatePDF()">Download</button>
		<input type="text"  class="offset-sm-1"value="http://resumeView/<id>" id="myInput" disabled>
		<button class="btn btn-success" onclick="myFunction()">Get Link</button>
	</div>
	<div id="resume">

		<div class="top-section container-fluid" style="width: 100%;">
			<p class="p1">{{ session['name'] }}</p>
			<p class="p2">{{ profile.currentPosition }}  | {{ profile.location }} </p>
		</div>
		<div class="container">
			<div class="row">

				<div class="content-box col-sm-3" style="padding-left: 40px;">


					<p class="head">Contact</p>
					<p><i class="fa fa-phone" aria-hidden="true">{{ session['number'] }}</i> &nbsp;&nbsp;</p>
					<p><i class="fa fa-envelope" aria-hidden="true">{{ session['email'] }}</i> &nbsp;&nbsp;</p>
					<p><i class="fa fa-home" aria-hidden="true"><a href="{{ profile.profileLink }}" target="_blank">{{ profile.profileTitle }}</a></i> &nbsp;&nbsp;</p>


					<br />
					<p class="head">my skills</p>
					<ul class="skills">
						<li><span>Web Design</span></li>
						<li><span>Grapic Design</span></li>
						<li><span>HTML-5</span></li>
						<li><span>CSS-3</span></li>
						<li><span>Java Script</span></li>
						<li><span>Jquery</span></li>

					</ul>

					<br />
					<p class="head">awards</p>
					<p>CSS Design Awards</p>
					<p>D&AD Awards</p>
					<p>CSS Winner Awards</p>
					<p>The Shorty Awards</p>
					<p>Awwwards</p>



					<br />
					<p class="head">Languages</p>
					<p>Hindi</p>
					<p>English</p>
				</div>

				<div class="col-sm-9">
					<div class="content-box">
						<p class="head">EXPERIENCE</p>

						<p>UI DESIGNER IN LOREM IPSUM (2018 - NOW)</p>
						<p>
							Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has
							Been The
							Industry's Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley
							Of Type
							And Scrambled It To Make A Type Specimen Book.</p>

						<p>UI DESIGNER (2013 - 2015)</p>
						<p>
							Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has
							Been The
							Industry's Standard Dummy Text Ever Since The 1500s
						</p>

						<p>GRAPIC DESIGNER(2010)</p>
						<p>
							Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has
							Been The
							Industry's Standard Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley
							Of Type
							And Scrambled It To Make A Type Specimen Book.</p>


						<br />

						<p class="head">Education</p>
						<p>HIGH SCHOOL OF CBSE (2009 - 2010)</p>
						<p>BACHELOR OF COMPUTER APPLICATION (2013 - 2015)</p>
						<p>MASTER OF COMPUTER APPLICATION (2015 - 2018)</p>
						<br />
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		function generatePDF() {
			const pdf = document.getElementById('resume');
			html2pdf()
				.from(pdf)
				.save();
		}
	</script>
</body>

</html>